body {
    background-color: #ccf5ff;
}
 ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
    overflow:hidden;
    background-color:pink;
}

 li{
    float: left;
}

 li a{
    display: block;
    color:#0066ff;
    text-align:center;
    padding: 16px 18px;
    text-decoration: none;
}

 li a:hover {
    background-color: #111;
}

.active {
    background-color: yellow;
}
h1{
    text-align: center;
    font-family:  Arial;
    color:red;
}
h3{
    text-align: center;
    text-decoration: underline;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
img {
    height:8em;
    width:15em;
}
#logo img {
    height:5em;
    width:8em;
    
}
#SaaS img {
    width:100%;
}
#SaaS_img img {
    width:33em;
    height:22em;
}
#PaaS img {
    width: 100%;
}
#PaaS_img img {
    width:33em;
    height:22em;
}
#IaaS img {
    width:100%;
}
#IaaS_img img {
    width:33em;
    height:22em;
}
#CaaS img {
    width: 100%;
}
#CaaS_img img {
    width:33em;
    height:22em;
}
#ending img {
    width:70em;
    height:35em;
}
/* Cloud.html css */

#content img {
    height: 20em;
    width:40em;
    
}
#content ul {
    list-style-type: circle;
}

#styling img {
    height: 15em;
    width:40em;
    float:left;
    border-style: ridge
}
 #styling button {
     border-radius: 2px;
     background-color: Blue;
     border: none;
     color: Black;
     text-align: center;
     font-size: 20px;
     padding: 5px;
     width: 160px;
     cursor: pointer;
     margin-left: 150px;
}