#section1{
    background:url(https://lonelyplanetimages.imgix.net/mastheads/GettyImages-535829617_super.jpg?sharp=10&vib=20&w=1200);
     background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align:center;
    color:white;
    font-size:20px;
    
}


#section2{
    background:url(https://cdn2.justwineapp.com/assets/article/2017/06/Aerial_Sunset_Vancouver.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align:center;
    color:white;
    font-size:20px;
    
}

#section3{
    background:url(https://cdn.concreteplayground.com/content/uploads/2015/12/Surfing-Sydney.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align:center;
    color:white;
    font-size:20px;
    
}

.section{
    text-align: center;
    color: white;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    
}
.section:hover{
    border: 1px solid #777;
}
.section img{
    width: 90%;
    height: 90%;
    
    
}
 /* Button css for the form buttons */
button {
    border-radius: 90%;
     background-color: Pink;
     border: none;
     color: Black;
     text-align: center;
     font-size: 20px;
     padding: 3px;
     width: 100px;
     cursor: pointer;

}

