#section1{
    background-color: rgb(238 ,0 ,90);
    
}

#section2{
    background-color: rgb(0, 0, 255) ;
}

#section3{
    background-color: rgb(51 ,153 ,204);
    
}

.section{
    text-align: center;
    color: white;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    
}
.section:hover{
    border: 1px solid #777;
}
.section img{
    width: 90%;
    height: 90%;
    
    
}


