html, body{
     height: 100%;
    margin-bottom:50px;

 }
 body {
    background-image: url("http://www.htmldrive.net/edit_media/2011/201107/20110719/Full-background-webdevtuts/images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    min-width:1280px;
    width:100%;
    
    top:0;
    left:0;
    
}

#img img{
    width:450px;
    position:relative;
    top:-20%;
}

h1{
    text-align: center;
    
}

p{
    color: white;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
    overflow:hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color:white;
    text-align:center;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: Blue;
}