html {
    background:url(https://images.pexels.com/photos/7653/pexels-photo.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height:100%;
}
/* Button css for the Learn More button which has a transition when you hover the mouse over it*/
.button {
  border-radius: 2px;
  background-color: Pink;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 260px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 150px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
footer{
       position: absolute;
       top:100%;
       text-align:center;
     left: 0%;
    line-height: .8;
    margin-top:0;
    width:98.4%;
    background-color: #e6e6e6;
    padding:10px;
    
}
    footer .button {
                 background-color:black;
                           border-radius: 10px;
                           border:none;
                           color: White;
                           font-size:14pt;
                           padding: 4px;
                           cursor: pointer;
                           width:15%;
                           position:relative;
                           left:-3em;
            }