body {
    background:url(https://images.pexels.com/photos/417045/pexels-photo-417045.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb); 
}
h2 {
    text-align:center;
}
h1 {
    text-align:center;
}
